absl-py
astor
awscli
azure
azure-common
azure-mgmt
azure-mgmt-common
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-resource
azure-mgmt-storage
azure-nspkg
azure-servicebus
azure-servicemanagement-legacy
azure-storage
backcall
better-exceptions
bleach
botocore
certifi
chardet
cloudpickle
colorama
cycler
dask
decorator
dill
docutils
entrypoints
fuel
future
gast
grpcio
h5py
html5lib
idna
imageio
ipdb
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jmespath
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
moviepy
nbconvert
nbformat
networkx
numexpr
numpy
opencv-python
pandas
pandocfilters
parso
pexpect
picklable-itertools
pickleshare
Pillow
progressbar2
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyaml
pyasn1
pyglet
Pygments
PyOpenGL
pyparsing
python-dateutil
python-utils
pytz
PyWavelets
pyyaml
pyzmq
qtconsole
requests
rsa
s3transfer
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
six
sklearn
tables
termcolor
terminado
testpath
toolz
tornado
tqdm
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
zmq
tensorflow
